
__pycache__/Simple_ESN.cpython-310.pyc
esperimenti shallow/results/*
__pycache__/*
Earthquakes/*
env/*
esperimenti shallow/.DS_Store
esperimenti shallow/__pycache__/*
OSULeaf/*
.DS_Store
synthetic_control/*
UCR_TS_Archive_2015/*
esperimenti shallow/.DS_Store
.DS_Store
